@media (max-width: 960px){

    .menu{
        display: none;
    }
     
    .bars__icon{
        visibility: visible;
        font-size: 2rem;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
    }
    
    header .bars__icon{
        padding-left: 450px;
    }

    
    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80vh;
    }

    .logo{
        font-size: 2rem;
    }
    .profile{
        display: flex;
        flex-direction: column;
        font-size: 2.5rem;
    }

    .profile__foto{
        width: 450px;
    }

    .profile__text{
        display: grid;
        justify-content: center;
        font-size: 36px;
        gap: 30px;
    }

    .profile__name{
        font-size: 6rem;
    }

    section .section__title{
        font-size: 9rem;
    }

    .description__skills{
        flex-direction: column;
        margin-left: 48px;
        gap: 24px;
    }

    .description{
        display: flex;
        flex-direction: column;
        font-size: 48px;
        width: 500px;
    }

    .skills{
        padding-top: 32px;
        font-size: 48px;
    }

    .card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    
    .projetos{
        height: 60vh;
    }


    .contatos{
        height: 50vh;
    }

    .contato__container{
        margin-left: 35px;
    }

    .contato__item{
        display: flex;
        align-items: center;
    }

    .link__container{
        margin-right: 38.13px;
    }

}