html{
    scroll-behavior: smooth;
}

body{
    display: grid;
    grid-template-areas: "content";
    font-family: var(--font-family);
    color: #ffffff;
    background-color: black;
}

header{
    grid-area: content;
    height: 100px;
    z-index: 666;
    place-self: start center;
    max-width: 1200px;
    width: 100%;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

section{
    height: 100vh;
}

footer{
    grid-area: content;
    place-self: end start;
    height: 100px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
   

}

