html{
    scroll-behavior: smooth;
}

body{
    display: grid;
    grid-template-areas: "content";
    font-family: var(--font-family);
    color: #ffffff;
    background-color: black;
}

header{
    grid-area: content;
    height: 100px;
    z-index: 666;
    place-self: start center;
    max-width: 1200px;
    width: 100%;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

section{
    height: 100vh;
}

footer{
    height: 50px;
    width: 100%;
    background-color: #0005;
    grid-area: content;
    place-self: end center;
    display: grid;
    place-content: center;
    border-top: 2px solid white;
    font-size: 0.75rem;
    font-style: italic;

}

@media (max-width: 9999px){
    .bars__icon{
        visibility: hidden;
    }
    
}